.pics {
  display: flex;
  flex-direction: column;
}

.singlepic {
  max-width: 300px;
  height: auto;
  min-width: 100%;
  padding: 10px;
  overflow-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 30px;
  border: .05px rgba(0, 0, 0, 0.1) solid;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.singlepic > p {
  position: relative;
  color: blue;
  top: 100px;
}

button {
  margin-top: 20px;
  align-self: center;
  padding: 10px;
  width: 100%;
}